$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

// -----------------
// colors
// -----------------
$black: #000000;
$lightGray: #e8e8e8;

// -----------------
// margins
// -----------------

$buttonMargin: 1vh;
$containerMargin: 10vh;

// -----------------
// custom styles
// -----------------

body{
	background-color: $lightGray;
	
	.svg-img {
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#navigation {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}
	
	#navigation-inner {
		padding-top: $containerMargin;
		width: 90vw;
		margin: 0 auto;
	}
	
	#logo {
		background-image: url('../images/logo.svg');
		$sizeL: 16vh;
		$minSizeL: 100px;
		height: $sizeL;
		width: $sizeL;
		min-height: $minSizeL;
		min-width: $minSizeL;
	}
	
	.circle-button {
		$sizeB: 8vh;
		$minSizeB: 50px;
		height: $sizeB;
		width: $sizeB;
		min-height: $minSizeB;
		min-width: $minSizeB;
	}
	
	#button-twitter-login {
		background-image: url('../images/twitter.svg');
		display: inline-block;
		margin-right: $buttonMargin;
	}
	
	#button-fb-login {
		background-image: url('../images/facebook.svg');
	}
	
	#button-friends {
		background-image: url('../images/friends.svg');
		margin-top: $buttonMargin;
	}
	
	#button-map {
		background-image: url('../images/map.svg');
	}
	
	#button-help {
		background-image: url('../images/help.svg');
		position: absolute;
		bottom: $containerMargin;
		right: 5vw;
	}

	#zoom-wrapper{
		position: absolute;
		z-index: 9999;
		bottom: 10px;
		left: 50vw;
		margin-left: -30px;
		#zoom-plus, #zoom-minus{
			width: 30px;
			height: 30px;
		}
	}

	.icon-direction-marker{
		position: absolute;
		z-index: 9999;
		width: 25px;
		height: 25px;
		background-size: cover;
		cursor: pointer;
	}

	.icon-direction-work{
		background-image: url('../images/work.svg');
	}

	.icon-direction-home{
		background-image: url('../images/home.svg');
	}

	.icon-direction-no{
		background-image: url('../images/help.svg');
	}

	#marker-infowindow{
		height: 100px;
		padding: 10px;
		position: relative;
		background: #000;
		padding: 0;
		

		#marker-infowindow-inner{
			position: relative;
			background: white;
			box-shadow: 0 0 2em #bbb;
			padding: 10px;
			font-size: 11px;
			color: #373737;
			height: 105px;
			
			#triangle{
				border-left: 15px solid transparent;
				border-right: 0 solid transparent;
				border-bottom: 15px solid white;
				transform: rotate(-90deg);
				position: absolute;
				top: 1px;
				left: -14px;
			}

			#close-infowindow{
				position: absolute;
				right: 0;
				top: 0;
				width: 15px;
				height: 15px;
				background: gray;
				color: white;
				text-align: center;
				cursor: pointer;
			}

			h1{
				font-size: 12px;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
			}
			h2{
				font-size: 12px;
				padding: 0;
				margin: 3px 0 10px 0;
				font-style: italic;
			}
			#social-content, #social-icon{
				float:left;
				display: inline-block;
			}

			#social-icon{
				width: 30px; 
				height: 30px;
				background-image: url('../images/facebook.svg');
				background-size: 30px;
				margin-right: 5px;
			}
		}
	}
	
	@media only screen and (min-width: 1200px) {
		#navigation-inner {
			width: 70vw;
		}
		
		#button-help {
			right: 15vw;
		}
	}

	#app-content {
		
		$sizeP: 80vw;
		$sizeL: 80vh;
		
		@media screen and (orientation:portrait) {
			
			.app-content-inner {
				height: $sizeP;
				width: $sizeP;
				border-radius: $sizeP;
			}
			
			.friends-entry-container {
				margin-left: 10vw;
			}
			
			#friends-table-container {
				height: $sizeP - 10;
				width: $sizeP - 10;
				margin-left: 5vw;
			}
			
		}
		@media screen and (orientation:landscape) {
			
			.app-content-inner {
				height: $sizeL;
				width: $sizeL;
				border-radius: $sizeL;
			}
			
			.friends-entry-container {
				margin-left: 10vh;
			}
			
			#friends-table-container {
				height: $sizeL - 10;
				width: $sizeL - 10;
				margin-left: 5vh;
			}
		}
		
		.app-content-inner {
			margin: $containerMargin auto 0 auto;
			padding: 0;
			border: 1px solid #b1b1b1;
			box-shadow: 0 0 2em #bbb;
		}
		
		#friends-table-container {
			padding-top: $containerMargin;
			position: absolute;
		}
		
		#friends-table-header {
			text-align: center;
			width: 100%;
			margin-bottom: $containerMargin/2;
		}
		
		.friends-entry-container {
			width: 50vh;
		}
		
		.friends-entry-image {
			float: left;
			height: 10vh;
			width: 10vh;
		}
		
		.friends-image {
			height: 10vh;
			width: 10vh;
			border-radius: 10vh;
			background-image: url('../images/mockup/friends-image.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		
		.friends-name {
			display: inline-block;
			padding-left: $buttonMargin;
		}
		
		.friends-entry-accordion {
			display: inline-block;
			width: 35vh;
			padding-left: $buttonMargin;
		}
		
		.friends-pin-details {
			margin-top: 3vh;
		}
	}
}
