<div id="friends-table" class="app-content-inner">
    <div id="friends-table-container">
        <div id="friends-table-header">
            <h2>Deine Besten Freunde</h2>
            <p>Alle Einträge zwischen <span id="friends-start-year">2009</span> und <span id="friends-end-year">2014</span></p>
        </div>
        <div id="friends-entry-container-1" class="friends-entry-container">
            <div class="friends-entry-image">
                <div id="friends-image-1" class="friends-image">
                    
                </div>
            </div>
            <div class="friends-entry-name">
                <h3 class="friends-name" id="friends-name-1">C4R$73|\|</h3>
            </div>
            <div id="friends-entry-accordion-1" class="friends-entry-accordion">
                <div>
                    <h4>
                        <a data-toggle="collapse" data-parent="#friends-entry-accordion-1" href="#friends-entry-collapse-1">
                          <strong><span id="friends-overall-entries-1">377</span></strong> Einträge insgesamt <span class="glyphicon glyphicon-chevron-down pull-right"></span>

                        </a>
                    </h4>
                </div>
                <div id="friends-entry-collapse-1" class="panel-collapse collapse">
                    <div class="friends-pin-details">
                        <p><strong><span id="friends-pin1-entries-1">212</span></strong> Einträge von C4R$73|\| auf deiner Pinnwand</p>
                        <p><strong><span id="friends-pin2-entries-1">165</span></strong> Einträge von dir auf C4R$73|\|s Pinnwand</p>
                        <p><strong>Ø<span id="friends-pin3-entries-1">1,5</span></strong> Einträge pro Woche</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>