<div id="friends-table" class="app-content-inner">
    <div id="friends-table-container">
        <div id="friends-table-header">
            <h3>Deine Besten Freunde</h3>
            <p>Alle Einträge zwischen <span id="friends-start-year">XXXX</span> und <span id="friends-end-year">XXXX</span></p>
        </div>
        <div class="friends-entry-container">
            <div class="friends-entry-image">
                IMG
            </div>
            <div class="friends-entry-name">
                NAME
            </div>
            <div class="panel-group" id="friends-entry-accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#friends-entry-accordion-1" href="#friends-entry-collapse-1">
                              XXX Einträge <span class="glyphicon glyphicon-chevron-down pull-right"></span>

                            </a>
                        </h4>
                    </div>
                    <div id="friends-entry-collapse-1" class="panel-collapse collapse">
                        <div class="panel-body">
                            olol omg wtf h4x!!1111337
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>